@model IEnumerable<MCClinicalTrialDemo.Models.TrialViewModel>
@{
    ViewBag.Title = "Search Clinical Trials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search / List Trials </h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    -->
@using (Html.BeginForm("Search", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>
        <table>
            <tr>
                <td>
                    @Html.Label("Trial Key")

                </td>
                <td>
                    <input type="text" id="SearchText" class="form-control" name="SearchText" style="width: 180px" />
                </td>
                <td>
                    <input type="submit" class="btn btn-default" value="Search" />
                </td>
            </tr>
        </table>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrialKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResearchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResearcherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResearchOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                Document
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrialKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrialDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResearchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResearcherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResearchOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.DocumentUrl))
                    {
                    <button name="btnDownload" id="btnDownload" class="btn-default">
                        @Html.ActionLink("Download", "Download", "Search", new { SelectedTrialKey = item.TrialKey }, null)
                    </button>
                    }
                </td>
            </tr>
        }
    </table>
}