@using MultiChainLib;
@using MultiChainLib.Model;
@using MCClinicalTrialDemo.Models;
@model List<DownloadViewModel>

@{
    ViewBag.Title = "Download Results";
}

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().DownloadDate)
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().DownloaderName)
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().TrialKey)
        </th>
    </tr>
    @foreach (var downloadVM in Model.ToList())
    {
        <tr>
            <td>
                @downloadVM.DownloadDate
            </td>
            <td>
                @downloadVM.DownloaderName
            </td>
            <td>
                @downloadVM.TrialKey
            </td>
        </tr>
    }
</table>
